includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 5

    ignoreErrors:
        - '#Access to an undefined property App\\Models\\[a-zA-Z0-9::a-zA-Z]#'
